# Serial Killers

## Introduction-
In recent years, serial killers have grown in popularity in mainstream media. Documentaries on killers such as John Wayne Gacy and Ted Bundy are currently featured on Netflix. Hundreds of thousands of people tune in to watch the disturbing, yet fascinating stories of the men and the terrible crimes they commit. Some speculate that the interest in such horrific and terrible people comes from the inability to grasp what these offenders are even remotely capable. 

Serial killers have been present since before any of us were even around to learn anything about, let alone catch them. In the past 20 years the number of killers have dropped significantly due to advancements in science and technology but there was a time, before science caught up, that serial killers were running "rampant" and I will be expanding on that information and demonstrate the drop in serial kills. Overall the statistics point to serial killing being a male dominated past time but there is proof that it is not just men, but women as well though in much smaller numbers. 

I will be comparing numbers from the height of killing to today as well as the comparison of male serial killers to women serial killers. Noting the difference between both and the suspected reasons why one group is larger than the other.

In [ ]:
## Hypothysis 

There has been a steady decline in serial killings since the '70's and '80's.

In [ ]:
## Definitions

A serial killer is defined as having three of more killings over time.

In [1]:
import pandas as pd

In [3]:
serial_killers = [
    ["Jack the Ripper", 1887, 1888, 5, "Knife Wound, Multilation" ],
    ["Jeffrey Dahmer", 1974, 1991, 17, "Strangulation"],
    ["Harold Shipman", 1972, 1998, 250, "Morphine Overdose" ],
    ["John Wayne Gacy", 1978, 1994, 33, "Asphyxiation with garrot"],
    ["H.H. Holmes", 1983, 1986, 30, "Hanged"], 
    ['Luis Garavito', 1992, 1999, 147, "Stabbing, Mutilation"],
    ['Henry Lee Lucas', 1946, 1983, 41, "Stabbing"],
    

]
headers = [ 
    "Name", 
    "From",
    "To",
    "Victim Count",
    "Modus Operandi"
    "Gender"

]

In [4]:
sk = pd.DataFrame(serial_killers, columns=headers)

In [6]:
serial_killer_ladies = [
    ['Aileen Wuornos', 1989, 1990, 7, "Gun Shot"],
    ['Judias Buenoano', 1971, 1980, 3, "Arsenic Poisoning"],
    ['Juana Barraza', 2002, 2006, 40, "Strangulation"],
    ["Jane Toppan or Jolly Jane", 1895, 1901, 31, "Poisoning"],
    ['Gesche Gottfried', 1813, 1827, 15, "Poisoning"],
    ['Amelia Dyer', 1869, 1896, 400, "Poison, Starvation, Strangulation"],
    ['kristen Gilbert', 1995, 1996, 4, "Stimulant Injections"],
    ['Nannie Doss', 1920, 1954, 11, "Rat Poison"],
    ['Dorotha Puente', 1982, 1988, 9, "Drug Overdose" ],
    ['Miyuki Ishikawa', 1944, 1948, 169, 'Neglect']

]

headers2 = [ 
    "Name", 
    "From",
    "To",
    "Victim Count",
    "Modus Operandi"

]

In [7]:
skw = pd.DataFrame(serial_killer_ladies, columns=headers2)

In [8]:
skw

,Name,From,To,Victim Count,Modus Operandi
0,Aileen Wuornos,1989,1990,7,Gun Shot
1,Judias Buenoano,1971,1980,3,Arsenic Poisoning
2,Juana Barraza,2002,2006,40,Strangulation
3,Jane Toppan or Jolly Jane,1895,1901,31,Poisoning
4,Gesche Gottfried,1813,1827,15,Poisoning
5,Amelia Dyer,1869,1896,400,"Poison, Starvation, Strangulation"
6,kristen Gilbert,1995,1996,4,Stimulant Injections
7,Nannie Doss,1920,1954,11,Rat Poison
8,Dorotha Puente,1982,1988,9,Drug Overdose
9,Miyuki Ishikawa,1944,1948,169,Neglect

In [ ]:
## Oberservations 
To address the hypothysis we need number of killings per year. We dont have that data, all we have is killings across a 
time period so we are going to: 
    1. Calculate a duration using the from and to date.
    1. Use duration and victim count to calculate an estimate of killings per year. 
    
    
We should draw a chart to show the trends from this data.

In [12]:
sk

              Name  From    To  Victim Count            Modus Operandi
0  Jack the Ripper  1887  1888             5  Knife Wound, Multilation
1   Jeffrey Dahmer  1974  1991            17             Strangulation
2   Harold Shipman  1972  1998           250         Morphine Overdose
3  John Wayne Gacy  1978  1994            33  Asphyxiation with garrot
4      H.H. Holmes  1983  1986            30                    Hanged
5    Luis Garavito  1992  1999           147      Stabbing, Mutilation
6  Henry Lee Lucas  1946  1983            41                  Stabbing